.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.git/
.gitignore
tests/
examples/
kafka/
*.tex
*.log
*.aux
*.out
.env
.env.*
.env*
**/.env
**/.env.*
**/.env*
*.pem
*.key
**/*.pem
**/*.key
secrets/
**/secrets/
